/* 超链接样式 */
a {
    color: #09f;
    text-decoration: none;
}
a:hover {
    color: #03c;/*深蓝*/
}
a:active{
    color:#F90;
}

/* 顶端几个不动的超链接样式 */
.switch{
    margin-left: 60px;
    font-size: 18px;
}
.logout{
    float: right;
    margin-right: 60px;
    border-radius: 30px;
}
.logout:link ,.logout:visited{  
    background-color: #f44336;  
    color: white;  
    padding: 8px 20px;  
    text-align: center; 
    text-decoration: none; 
    font-size: 18px; 
    display: inline-block;
}
.logout:hover, .logout:active {  
    background-color: red;
}

/* 主界面卡片样式 */
.wrapper {
    width: 600px;
    height: 200px;
    /* background-color: rgba(11, 19, 23, 0.83); */
    /* rgba(7, 29, 39, 0.83) */
    /* 设置居中 */
    margin: 50px auto;
    border: 3px solid #ddd;
    border-top-right-radius: 30px;
}

.content{
    padding-top: 5px;
    padding-left: 30px;
    width: 400px;
    border-top: 10px solid #09f;
    /* 通过margin-top将h2上移，盖住上边框 */
    margin-top: -10px;
    border-left: 10px solid #09f;
    /* 通过margin-top将h2上移，盖住上边框 */
    margin-left: -10px;
}

.greeting{
    width: 300px;
    color: rgb(0, 135, 225);
    
}

/* 表格样式 */
table {
    margin-top: 30px;
    margin-left:auto;
    margin-right:auto;
    font-size:  18px;
    border-width: 1px;
    border-color: #ddd;
    border-collapse: collapse;
}

.tableheader{
    background-color: #09f;
}

table td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #ddd;
    text-align: center;
}

/* 编辑信息样式 */
form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    transition: all 0.2s 0.7s;
    overflow: hidden;
}


.change {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
}

.input-field {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 35px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 0 0.4rem;
    position: relative;
}

.input-field input{
    background: none;
    outline: none;
    border: none;
    padding-left: 10px;
    line-height: 2;
    font-weight: 600;
    font-size: 0.9rem;
    color: #333;
}

.not-input-field{
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 35px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 0 0.4rem;
    position: relative;
}

select {
    border-color: #f0f0f0;
    background-color: #f0f0f0;
    padding-left: 10px;
    border-radius: 20px;
}
  
/* 提交按钮样式 */
.btn-submit {
    width: 150px;
    /* background-color: #5995fd; */
    background-color: #09f;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: large;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

.del-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
}

.btn-delete:link ,.btn-delete:visited{  
    background-color: #f44336;  
    color: white;  
    padding: 5px 10px;  
    text-align: center; 
    text-decoration: none; 
    font-size: 15px; 
    display: inline-block;
}

.btn-delete:hover, .btn-delete:active {  
    background-color: red;
}

.doc-img, .pat-img{
    margin: 0px;
}

.image{
    border: none;
    padding-right: 30px;
}

.doc-title{
    margin-top: 30px;
    margin-bottom: 0px;
}

.pat-title{
    margin: 0px;
}

.scan-route{
    margin-left: 50px;
    margin-bottom: 20px;
}

.btn-scan:link ,.btn-scan:visited{  
    background-color: #09f;
    color: white;  
    padding: 5px 10px;  
    text-align: center; 
    text-decoration: none; 
    font-size: 15px; 
    display: inline-block;
}

.btn-scan:hover, .btn-scan:active {  
    background-color: #03c;
}